{% extends 'word_learning/base.html' %}
{% block content %}
<strong>Part Of Speech</strong>
{{part_of_speech}}

<br><strong>Synonym</strong>
{% for synonym in synonyms %}
{{synonym}}
{% endfor %}

<br><strong>Antonym</strong>
{% for antonym in antonyms %}
{{antonym}}
{% endfor %}
<br>
<a href="{% url 'revise_detail' %}">Revise</a>
<hr>


<br><strong>Example Sentences</strong>

{% for sentence in all_sentences %}
    <h2>{{sentence.sentence}}</h2>
    <br>
    <form method="POST" action="{% url 'delete_sentence' sentence.id %}">
        {% csrf_token %}
        <button type="submit" name="delete">Delete</button>
    </form>
    <hr>
    
{% endfor %}
<br>

<form method="POST" action="{% url 'word_detail' pk=word_id %}">
    {% csrf_token %}
    <button type="submit" name="generate_sentence">Generate new sentence</button>
</form>



{% endblock %}