{% extends 'word_learning/base.html' %}
{% block content %}
<h2>Writting quiz finished!!!</h2>

<a href="{% url 'writting_quiz' %}">Keep scorring and Go to select of Next Writting Quiz</a>
<br>
<a href="{% url 'makesure_score' %}">Score writting quizzes</a>
<hr>

<strong>History of Writting Quiz</strong>
<hr>
{% for answer in prog_answers %}
    <strong>Quiz</strong>
    {{answer.quiz.quiz}}
    <br><br>
    <strong>Answer</strong>
    {{answer.answer}}
    <br><br>
    <strong>Created_at</strong>
    <h2>{{answer.created_at}}</h2>
    <hr>
{% endfor %}
{% endblock %}